@model IEnumerable<NorthwindJqueryAjaxMvc.Models.Shipper>

@{
    ViewData["Title"] = "Index";
}

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
